{% extends "LibuBundle::libu/navbar.html.twig" %}

{% if form is defined %}
	{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}

{% block formulario %}
	<div 'col-sm-12'>

	    {% block titulo %}
			<p>&nbsp;</p>
			<h1>{{ titulo }}</h1>
			<p>&nbsp;</p>
		{% endblock %}


		{% block mensaje %}
			{% if mensaje is defined %}
				{{ mensaje }}
			{% endif %}
		{% endblock %}


	    <p>&nbsp;</p>
	    {% block boton_final %}
			{# <a href= "{{ path('venta')}}"><button>Volver a venta</button></a> #}
		{% endblock %}

		<hr>

    </div>
{% endblock %}