/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
!/vendor/javiereguiluz
!/vendor/pagerfanta
/web/bundles/
bower.json
.bowerrc
cacheclear.sh
update.sh
copiaseg.sh
web/bundles/libu/uploads/*
src/Trinity/LibuBundle/Resources/public/uploads/*
/web/bundles/libu/uploads/*
/src/Trinity/LibuBundle/Resources/public/uploads/*
src/Trinity/LibuBundle/Resources/public/templates/libu.txt
/src/Trinity/LibuBundle/Resources/public/templates/libu.txt
