{# LibuBundle/Resources/views/libu/email.html.twig #}
<h3>Correo enviado!</h3>

Este es un correo para ser utilizado, provisionalmente, como copia de seguridad. <br>
El texto que viene a continuación es una copia de las ventas realizadas hasta ahora. <br>
Por ahora se envía el texto en el cuerpo del email; posteriormente se enviará encriptado, y el email podrá aportar otros datos como las ventas del día, etc. 
<br>
<hr>
<br>
{{ report }}

{# example, assuming you have a route named "login" #}

Un auto-saludo, 
Libu.
