{% extends "LibuBundle::libu/base.html.twig" %}
{# libu/Resources/views/libu/venta.html.twig #}

{% block body %}
	<div class='container'>
		<div class="lead">
			{{ textopagos | raw}}
		</div>
	    <div class = 'col-sm-4 form-inline'>
	        {{ form(form) }}
	    </div>
	</div>
{% endblock %}