{% extends "LibuBundle::libu/base.html.twig" %}
{# libu/Resources/views/libu/venta.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
	<div class = 'formulario'>
		<div class = 'col-sm-3 form'>
	        {{ form(form) }}
	    </div>
    </div>
{% endblock %}