{# libu/Resources/views/libu/venta.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}


<link rel="stylesheet" href="{{ asset('bundles/libu/bootstrap/dist/css/bootstrap.min.css') }}"  />
<link rel="stylesheet" href="{{ asset('bundles/libu/bootstrap/dist/css/bootstrap-theme.css') }}"  />
<link rel="stylesheet" href="{{ asset('bundles/libu/bootstrap/dist/js/bootstrap.min.js') }}"  />
<script src="{{ asset('bundles/libu/jquery/src/jquery.js') }}"></script>  


<div class='container'>
<form name="venta" method="post" class="form-inline form-control-lg">
    <div class="row">
        <label class="control-label required col-md-2" for="venta_libros3">Libros a 3 euros: </label>
        <input type="number" id="venta_libros3" name="venta[libros3]" required="required" class="form-control col-md-1" value="0"   />
    </div>

    <div class="row">
        <label class="control-label required col-md-2" for="venta_libros1">Libros a 1 euro:</label>
        <input type="number" id="venta_libros1" name="venta[libros1]" required="required" class="form-control col-md-2 " value="0"  />
    </div>

    <div class="row">
        <label class="control-label required col-md-2" for="venta_cliente">Cliente</label>
        <select id="venta_cliente" name="venta[cliente]" class="form-control col-md-2">            
        	<option value="1"  selected="selected">Mujer</option>            
        	<option value="2" >Hombre</option></select>
    </div>

    <div class="row">
        <label class="control-label required  col-md-2" for="venta_tematica">Temática</label>       
        <select id="venta_tematica" name="venta[tematica]" class="form-control  col-md-2">            
        	<option value="1"  selected="selected">Novela</option>            
        	<option value="2" >Tema</option></select>
    </div>
    <div class="row">
	    <label class="control-label required col-md-2" for="venta_product_Taza1">Taza1</label>
		<input type="number" id="venta_product_Taza1" name="venta[product][Taza1]" required="required" class="form-control col-md-2" value="0"  />
    </div>
	<div class="row">
   			<label class="control-label required col-md-2" for="venta_product_Taza2">Taza2</label>
    		<input type="number" id="venta_product_Taza2" name="venta[product][Taza2]" required="required" class="form-control col-md-2" value="0"  />
    </div>
	<div class="row">
    		<label class="control-label required col-md-2" for="venta_product_Taza3">Taza3</label>
    		<input type="number" id="venta_product_Taza3" name="venta[product][Taza3]" required="required" class="form-control col-md-2" value="0"   />
    </div>
	<div class="row">
    		<label class="control-label required col-md-2" for="venta_product_Pulsera">Pulsera</label>
    		<input type="number" id="venta_product_Pulsera" name="venta[product][Pulsera]" required="required" class="form-control col-md-2" value="0" />
    </div>
	<div class="row">
    		<label class="control-label required col-md-2" for="venta_product_Taza5">Taza5</label>
    		<input type="number" id="venta_product_Taza5" name="venta[product][Taza5]" required="required" class="form-control col-md-2" value="0" />
	</div>
    <div>
        <button type="submit" id="venta_save" name="venta[save]" class="btn-primary btn">Venta</button>
    </div>
    <div>
        <button type="submit" id="venta_menu" name="venta[menu]" class="btn-default btn">Volver al menú</button>
    </div>    
    </div>
</form>
</div>