{% extends "LibuBundle::libu/base.html.twig" %}

{% block body %}

    <div class = 'col-sm-12'>
    	{% block titulo %}
    	{% endblock %}

    	{% block previo %}
    	{% endblock %}

        <div class = 'col-sm-12 row'>
            {% block tabla %}
                <table class='table table-striped table-condensed'>
                    <thead>
                        <tr>
                            {% for colum in cabecera %}
                                <th>{{ colum }}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% block contenido %}

                        {% endblock %}  
                    </tbody>
                </table>
            {% endblock %}
        </div>

    	{# include('LibuBundle::tabla/_contenidotabla.html.twig')#}

    	<div class = 'col-sm-4 row'>
			{% block formulario %}
	 
	    	{% endblock %}		    
	    </div>

    </div>
{% endblock %}
